<div class="center-text">
  <h2 class="mat-h2">It is now night!</h2>
  <h4 class="mat-h4">If you have an action, please submit it now.</h4>
  <maf-countdown-timer
    [durationRemaining]="data.timeRemaining"
    totalDuration="300"
  ></maf-countdown-timer>
  <div>
    <mat-form-field *ngFor="let action of actions">
      <mat-label>{{ action.ability }}</mat-label>
      <mat-select [(ngModel)]="action.target">
        <mat-option *ngFor="let player of livingPlayers" [value]="player">{{
          player
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" (click)="submitActions()">
        Submit
      </button>
    </div>
  </div>
</div>
