mat-progress-spinner {
  transform: scale(-1, 1);
}

.spinner-container {
  position: relative;
  display: inline-block;
}

.spinner-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}
