.game-page-container {
  padding: 8px 16px;
  height: calc(100vh - 56px);
}

.phase-header {
  display: flex;
  height: 40px;
  margin-bottom: 5px;
  justify-content: right;
  align-items: center;
  letter-spacing: 5px;
}

.game-menu-button {
  position: relative;
}

.half-drawer {
  background-color: #fafafa;
  padding: 16px;
  margin-left: -16px;
  width: calc(50% + 16px);
  min-width: 248px;
}

.scrollable-child {
  display: block;
  overflow: auto;
  max-height: calc(100% - 50px);
  width: 100%;
}
